@font-face {
    font-family: myFont;
    src: url("../fonts/Pokemon\ Solid.ttf");
  }

nav .brand-logo {
    font-family: myFont;
    color: yellow;
}
body {
    background: url(../images/pokemon_go_hd-wide.jpg);
    background-size: 100%;
    /* opacity: .5; */
    filter: alpha(opacity=50);
}

h4 {
    
}